h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#descricao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #D0DB97;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.skills {
    font-size: 20px;
}

.sobre {
    display: inline-flex;
}

#my-photo {
    background-color: black;
    padding: 10px;
    margin: 15px;
    width: 150px;
}